/* ESTILOS GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #070707;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230d0d0d' fill-opacity='0.37' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav a:hover {
  color: #ddd;
}





/* CONTAINER */

.container {
  width: 100%;
  margin: auto;
}





/* NAVEGACION*/

.nav__container {
  width: 100%;
  margin: auto;
  position: fixed;
  opacity: 95%;
  z-index: 100000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  background-color: #84329b;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}

nav ul li {
  margin: 0 25px;
}

nav img {
  width: 50px;
}

.menu--btn {
  opacity: 0%;
}





/* HEADER */

.header--container {
  background: url("./imagenes/1x/1x/fondo--header.png") no-repeat center
    center/cover;
}

header {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
}

header img {
  width: 500px;
}

.header__info--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 25px;
  background-color: #00c843;
  border-radius: 20px;
}

.btn:hover {
  background-color: #00832c;
  transition: 0.5s;
  cursor: pointer;
}

.btn a {
  font-size: 18px;
}

header h1 {
  font-size: 20px;
  max-width: 600px;
  min-width: 200px;
  margin: 50px 0;
}





/* FONDO DE PROYECTOS */

.fondo__proyectos1 {
  width: 100%;
  height: 1300px;
  clip-path: polygon(0 26%, 100% 10%, 100% 85%, 0% 100%);
  background-color: #242424;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%231c1c1c' fill-opacity='0.33' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  z-index: 1000;
  top: 680px;
}

.fondo__proyectos2 {
  width: 100%;
  height: 1300px;
  clip-path: polygon(0 11%, 100% 25%, 100% 100%, 0 86%);
  background-color: #141414;
  position: absolute;
  z-index: 950;
  top: 700px;
}





/* PROYECTOS */

.proyectos--title {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.content__main--container {
  top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3000;
  align-items: center;
}

.content--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  margin: 100px 0;
}

.content--item {
  width: 300px;
  object-fit: cover;
}

.content--item:hover {
  filter: brightness(70%);
  transition: 0.5s;
  cursor: pointer;
}

h3 {
  margin: 30px 0;
  text-align: center;
}





/* SERVICIOS */

.servicios--title {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
}

.content__main--container2 {
  position: relative;
  top: 200px;
  height: 1000px;
  background: url("./imagenes/1x/1x/fondo--servicios.png") no-repeat center
    center/cover;
}

.content__main--container3 {
  top: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 800;
  align-items: center;
  position: relative;
}





/* FOOTER */

.footer {
  width: 100%;
  height: 600px;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #84329b;
  background: linear-gradient(#84329b,rgb(171, 81, 196));
}





/* FORMULARIO */

.form {
  position: relative;
  z-index: 1000;
  background-color: #b255cc;
  width: 500px;
  height: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.form h4 {
  text-align: center;
  margin: 20px 0;
}

.input-form {
  width: 90%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.247);
  border: none;
  margin: 15px 20px;
}

/* .input-form:active {
  background: linear-gradient(to bottom, transparent, #fff);    
  border-bottom: 3px solid #b255cc;
  outline: none;
} */

.input--form {
  width: 90%;
  height: 40px;
  margin: 15px 20px;
  background-color: #00c843;
  border: none;
}

.input--form:hover {
  background-color: #00832c;
  transition: 0.2s;
  cursor: pointer;
}





/* REDES */

.redes--container {
  position: relative;
  top: 140px;
  display: flex;
  justify-content: center;
}

.redes--container ul li {
  position: relative;
  display: inline-block;
}

.redes--item {
  width: 40px;
  margin: 0 10px;
}

.redes--item:hover {
  filter: brightness(20%);
  transition: 0.2s;
}





/* COPYRIGHT */

.copyright {
  width: 100%;
  height: 50px;
  background-color: #242424;
  display: flex;
  position: relative;
  top: 155px;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  font-size: 15px;
}

footer a {
  color: #5b52df;
  font-size: 15px;
}

footer a:hover {
  color: #322a99;
  transition: 0.2s;
}










/* VERSION PARA TABLET */

@media screen and (max-width: 1480px) {

  /* HEADER */

  .header--container {
    background: url("./imagenes/1x/1x/fondo--header.png") no-repeat center
      center/cover;
  }

  header {
    flex-direction: column;
  }

  header img {
    width: 400px;
  }

  .header__info--container {
    position: relative;
    top: -40px;
  }





  /* PROYECTOS */

  .content--container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
  }

  .content__main--container {
    top: 0;
  }

  .content--item {
    width: 250px;
  }





  /* FONDO DE PROYECTOS */

  .fondo__proyectos1 {
    height: 1500px;
  }

  .fondo__proyectos2 {
    height: 1500px;
    }





  /* SERVICIOS */

  .content__main--container2 {
    top: 60px;
    height: 1200px;
  }

  .content__main--container3 {
    top: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 800;
    align-items: center;
    position: relative;
  }





  /* FOOTER */

  .footer {
    justify-content: center;
    top: 55px;
  }

  .redes--container{
    top: -10px;
  }

  .copyright {
    top: 0px;
  }
}










/* VERSION PARA MOVIL */

@media screen and (max-width: 800px) {
  /* PROXIMA ACTUALIZACION 
  nav ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
  } 

  nav ul li {
    margin: 0 25px;


  .menu--btn {
    opacity: 100%;
    cursor: pointer;
  }  }*/





  /* HEADER */

  .header--container {
    background: url("./imagenes/1x/1x/fondo__header--movil.png") no-repeat center
      center/cover ;
  }

  header {
    flex-direction: column;
  }

  header h1 {
    font-size: 18px;
    margin: 50px 20px;
  }

  header img {
    width: 300px;
  }

  .header__info--container {
    position: relative;
    top: -40px;
  }





  /* PROYECTOS */

  .content--container {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .content__main--container {
    top: 0;
  }

  .content--item {
    width: 200px;
  }





  /* FONDO DE PROYECTOS */

  .fondo__proyectos1 {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    height: 1100px;
    top: 850px;
  }

  .fondo__proyectos2 {
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
    height: 1100px;
    top: 850px;
    }





  /* SERVICIOS */
  .content--container__movil{
    grid-template-columns: 1fr;
    gap: 30px;   
  }

  .content__main--container2 {
    top: 55px;
    height: 1500px;
  }

  .content__main--container3 {
    top: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 800;
    align-items: center;
    position: relative;
  }



  

  /* FOOTER */

  .footer {
    justify-content: center;
    top: 50px;
  }

  .redes--container{
    top: -20px;
  }

  footer {
    font-size: 12px;
  }

  footer a{
    font-size: 12px;
  }
}